
/*
 * Page
 */
#pz_crawler_training_menu H1 {
	font-weight: bold;
	text-align: right;
	margin: 2px;
	padding: 0;
}

.pz_link_over {
	background: #BCF;
	font-weight: bold;
	padding: 3px 0;
}



/* 
 * Menu 
 */
#pz_crawler_training_menu {
	border: 1px solid black;
	background: #fff;
	width: 200px;
	position: fixed;
	top: 5px;
	right: 5px;
	padding: 5px;
}

#data_summary UL,
#pz_crawler_training_menu UL {
	padding: 1px 0;
	margin: 0;
	list-style: none;
}

#pz_crawler_training_menu LI, 
#pz_crawler_training_menu H1, 
#pz_crawler_training_menu SPAN, 
#pz_crawler_training_menu INPUT, 
#pz_crawler_training_menu LABEL,
#data_summary H2,
#data_summary LI {
	font-family: sans-serif;
	font-size: 12px;

}

#send_button {
	margin-left: 5px;
}

#link_status {
	margin-left: 5px;
	font-weight: bold;
	padding: 1px  5px;
	background: #E3B1BD;
	display: none;
}


/* 
 * Summary 
 */
#data_summary {
	border: 1px solid black;
	background: #fff;
	width: 600px;
	position: fixed;
	top: 100px;
	left: 50px;
	padding: 5px;
	
}

#data_summary H2 {
	font-weight: bold;
	font-size: 14px;
	margin: 3px 0;
}

#data_summary LI {
	margin-left: 10px;
}

#data_summary INPUT {
	margin-top: 10px;
}
